<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Klasifikasi Kardiotocografi Dengan Algoritma K-Nearest Neighbor (K-NN)</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/style.css" rel="stylesheet">

</head>
<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css">
    th:tr {
        color: blue;

    }

    tr:nth-of-type(2n) {
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);

    }

    td {
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="100">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex">

        <div class="container">
            <div class="row">
                <div class="col-md-1 d-flex flex-column ">
                    <img src="../static/img/fetal1.png" alt="" width="110px" height="110px">
                </div>
                <div class="col-md-8 d-flex flex-column ">
                    <h1>Klasifikasi Kardiotocografi</h1>
                    <h2>Dengan Algoritma K-Nearest Neighbor (K-NN)</h2>
                </div>
                <div class="col-md-6" style="margin-top: 50px; float: left; ">
                    <h2>Pengujian K-Fold Cross Validation</h2>
                    <h5>Total Lama Pengujian: <b>{{ time_pengujian }}</b></h5>
                </div>
                <div class="col-md-6" style="margin-top: 50px; float: left; text-align-last: center">
                    <div class="text-center text-lg-start">
                        <a href="/"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Kembali</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 " style="margin-top: 30px;">
                    <h4>Pengujian 1</h4>
                    <a>Pengujian dilakukan untuk mencari nilai K terbaik pada K-NN . Dengan menetapkan nilai K pada
                        KFold adalah 10 dan menguji coba nilai K pada KNN dari 3 - 22.</a><br><br>
                    <a><b>Nilai K Terbaik : K-{{ knn[0][0] }} ( {{ knn[0][1] }} )</b></a>
                    <table>
                        <th>
                            <tr>
                                <td>No.</td>
                                <td>K</td>
                                <td>Time</td>
                                <td>Hasil</td>
                            </tr>
                        </th>

                        {% for i in range(0, lenknn) %}
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>K-{{ knn[1][i][0] }}</td>
                            <td>{{ knn[1][i][2] }}</td>
                            <td>{{ knn[1][i][1] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-12 " style="margin-top: 50px;">
                    <h4>Pengujian 2</h4>
                    <a>Pengujian dilakukan untuk mencari nilai K terbaik pada K-Fold Cross Validation. Dengan menetapkan
                        nilai K pada K-NN adalah hasil dari Pengujian 1 dan menguji coba nilai K pada K-Fold Cross
                        Validation dari 2 - 10.</a><br><br>
                    <a><b>Nilai KFold Terbaik : Kfold-{{ kfold[0][0] }} ( {{ kfold[0][1] }} )</b></a>
                    <table>
                        <th>
                            <tr>
                                <td>No.</td>
                                <td>KFold</td>
                                <td>Time</td>
                                <td>Hasil</td>
                            </tr>
                        </th>

                        {% for i in range(0, lenkfold) %}
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>K-{{ kfold[1][i][0] }}</td>
                            <td>{{ kfold[1][i][2] }}</td>
                            <td>{{ kfold[1][i][1] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

    </section><!-- End Hero -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/main.js"></script>

</body>

</html>